* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  background: transparent !important;
  /* 👈 heredan transparencia */
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100vh;
  font-size: 120%;
  background-color: #0f1a289e;
}

#result {
  background-color: transparent !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  color: white;
  padding: 25px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#content {
  font-size: 160%;
}

#result h2 {
  font-size: 190%;
  color: #B78E00;
}

/* .ace_editor, */
/* .ace_gutter, */
/* .ace_content { */
/*   background: transparent !important; */
/* } */
